* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container video {
  width: 400px;
  height: 200px;
}

.detect_btn {
  padding: 10px 10px;
  margin-top: 20px;
}